
<h1>Welcome to GWOBHub</h1>
<p>

</p>
<p>
	Follow us on Twitter at <%=link_to '@GWOBorg', 'http://twitter.com/gwoborg'%>
</p>

<h2>Contributors:</h2>
<ul>
	<li><%=link_to '@ChrisMatthieu', 'http://twitter.com/chrismatthieu'%></li>
</ul>
